{% import "partials/_mixins.html" as mixins %}
<!DOCTYPE html>
<html lang="en">

<head>
  <html lang="en">
  <title>{{ title | safe }}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if legacyPage %}
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/legacy-main.css?07062020">
  {% else %}
  <link rel="stylesheet" href="css/style.css" />
  {% endif %}
  <link rel="shortcut icon" href="img/favicon.png" />
  <meta name="description" content="{{ description | safe }}" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta property="og:url" content="{{ ogUrl }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title | safe }}" />
  <meta property="og:description" content="{{ description | safe }}" />
  <meta property="og:image" content="{{ ogImage }}" />
  <meta name="twitter:site" content="@gitnationorg">
</head>

<body>

  <div class="wrapper">
    <div class="overlay js-overlay"></div>

    {% block content %}
    {% endblock %}

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  {% if legacyPage %}
  <script src="js/legacy-scripts.js"></script>
  {% else %}
  <script src="js/app.js"></script>
  {% endif %}

  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f4c102dbdca840f19be6bca7d590ca79"}'></script><!-- End Cloudflare Web Analytics -->

</body>

</html>
